.floating {
  animation: float 6s ease-in-out infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
