<div class="todo-app">
  <h1>Todo App</h1>

  <div class="add-todo">
    <input
      type="text"
      [(ngModel)]="newTodoTitle"
      placeholder="What needs to be done?"
      (keyup.enter)="addTodo()"
    />
    <button (click)="addTodo()">Add</button>
  </div>

  <ul class="todo-list">
    @for (todo of todos; track todo.id) {
    <li [class.completed]="todo.completed">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleTodo(todo)"
      />
      <span>{{ todo.title }}</span>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
    }
  </ul>
</div>
