@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --neon-pink: #ff00ff;
  --neon-blue: #00ffff;
  --neon-green: #39ff14;
  --neon-yellow: #ffff00;
  --dark-bg: #1a1a1a;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  color: white;
}
