<div class="flex justify-between items-center p-4 bg-gray-600 text-white">
  <div class="flex items-center gap-4">
    <fa-icon
      [icon]="faCheckToSlot"
      class="text-white-800"
      size="2x"
      aria-label="Check to Slot Icon"
    ></fa-icon>
    <span class="text-xl font-semibold">Tasks Manager</span>
  </div>
  <div>
    <fa-icon
      [icon]="faUser"
      class="text-yellow-500"
      size="2x"
      aria-label="User Icon Login"
      title="Login"
    ></fa-icon>
  </div>
</div>
