version: "3.8"

services:
  postgres:
    image: postgres:18.1-bookworm
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_manager
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "15432:5432"
    networks:
      - tasks-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  tasks-network:
    driver: bridge

volumes:
  postgres_data:
